.image-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.image-modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
